:root{
	
}
html,body {
    height: 100%;
    padding: 0;
    margin: 0;
}


.box{
	padding: 0;
}

#menu{
	background-color: #C13D3F;
}

.abs{
	position: absolute
}

.elem_go_center{
	display         : flex  ;
	justify-content : center;
	align-items     : center;
}

.npritest{
	border-style:solid;
}

#main_box{
    background-image : url(../img/background/background1.png);
    background-size  : 100% 100%                             ;
}

#sec_box{
    background-image : url(../img/background/background2.png);
    background-size  : 100% 100%                             ;
}

#thr_box{
    background-image : url(../img/background/background3.png);
    background-size  : 100% 100%                             ;
	overflow-y       : auto
}

#img_block{
	margin          : 0px    ;
	padding         : 0px    ;
	text-align      : center ;
	background      : #726F6F;
	display         : flex   ;
	justify-content : center ;
	align-items     : center ;
}

#color_img{
	margin          : 0px    ;
	padding         : 0px    ;
	text-align      : center ;
	background      : #726F6F;
	display         : flex   ;
	justify-content : center ;
	align-items     : center ;
}

#show_img{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto;
    height     : auto;
}

#check_btn{
    width              : 10%                         ;
    height             : 10%                         ;
    top                : 45%                         ;
    left               : 85%                         ;
    border-radius      : 50%                         ;
    font-size          : large                       ;
    -webkit-box-shadow : 2% 2% 1% 2% rgba(0,0,0,1.00);
    box-shadow         : 2% 2% 1% 2% rgba(0,0,0,1.00);
    position           : absolute                    ;
}

.img_list_box{
	margin          : 0px    ;
	padding         : 0px    ;
	text-align      : center ;
	background      : #726F6F;
	display         : flex   ;
	justify-content : center ;
	align-items     : center ; 
}

.img_list{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto;
    height     : auto;
}

#check_img{
	margin          : 0px    ;
	top             : 5%     ;
	left            : 5%     ;
	padding         : 0px    ;
	width           : 40%    ;
	height          : 40%    ;
	text-align      : center ;
	background      : #726F6F;
	display         : flex   ;
	justify-content : center ;
	align-items     : center ;
}

#check_tnr{
	margin          : 0px    ;
	top             : 5%     ;
	left            : 50%     ;
	padding         : 0px    ;
	width           : 20%    ;
	height          : 20%    ;
	text-align      : center ;
	display         : flex   ;
	justify-content : center ;
	align-items     : center ;
}

#check_img img{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto;
    height     : auto;
}

#check_tnr img{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto;
    height     : auto;
}

#check_tnr{
	top    : 5% ;
	left   : 50%;
	width  : 20%;
	height : 20%;
}

#check_color{
	top             : 5%    ;
	left            : 75%   ;
	width           : 20%   ;
	height          : 20%   ;
	text-align      : center;
	display         : flex  ;
	justify-content : center;
	align-items     : center;
}

#check_color img{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto;
    height     : auto;
}

#testshow_img{
	margin     : 0px ;
	padding    : 0px ;
	max-height : 100%;  
    max-width  : 100%;
	width      : auto; 
    height     : auto;
}

.gps_check{
	top    : 55%;
	left   : 5% ;
	width  : 40%;
	height : 40%;
}

.check{
    border-color: #FF0004;
    
}

.color_img img{    
	height     : 100% ;
	width      : 100% ;
	object-fit : cover;
}

.color_check img{
	border:2px rgba(113,255,0,1.00) solid;
}

.tnr_check{
	border:2px rgba(113,255,0,1.00) solid;
}

#upcheck{
    width            : 100%                  ;
    height           : 100%                  ;
    background-color : rgba(120,120,120,0.50);
    z-index          : 999                   ;
    font-size        : 10em                  ;
    line-height      : 100%                  ;
    border-width     : 10px                  ;
}

.isok{
	background-color: rgba(34,255,0,1.00);
}

#login{
	display         : flex                  ;
 	align-items     : center                ;
	flex-wrap       : wrap                  ;
	align-content   : center                ;
	justify-content : center                ;
	border-style    : groove                ;
	border-width    : 5px                   ;
	border-color    : #939699               ;
	background-color: rgba(240,240,240,1.00);
}

#login_btn{
	position : absolute;
	right    : 10px;
    bottom   : 10px;
}

#new_user_btn{
	position : absolute;
	left     : 10px;
    bottom   : 10px;
}

#addUser{
	display: flex;
	align-items     : center                ;
	flex-wrap       : wrap                  ;
	align-content   : center                ;
	justify-content : center                ;
	border-style    : groove                ;
	border-width    : 5px                   ;
	border-color    : #939699               ;
	background-color: rgba(240,240,240,1.00);
}

.addUser_div{
	margin-top: 10px;
	top      : auto;
	clear    : left;
	width    : 95%;
}

#submit_user_info{
	right: 3%;
	bottom: 3%;
}

.addUser_div input{
	width: 60%;
    right: 1%;	
}

#show_some_cat{
	width: 100%;
	height: 100%;
	background-color: rgba(31,31,31,0.50);
	z-index: 100;
}

#show_some_cat_box{
	top:10%;
	left:10%;
	width: 80%;
	height: 80%;
	background-color: rgba(255,248,221,1.00);
}

#scroll_box{
	left:5%;
	width: 80%;
	height: 95%;
	overflow-y: scroll;
}

#show_some_cat_btn{
    width: 10vw;
    border-radius: 100%;
    height: 10vw;
	top: calc(50% + -5vw);
	left: calc(92.5% + -5vw);
}

#key_input{
    width: 90%;
    height: 5%;
    left: 5%;
    top: 5%;
	background-color: white;
}

#output_nameList{
	width: 90%;
	height: 83%;
	top:12%;
	left:5%;
	overflow-y: scroll;
}

.show_user_underline{
	height: 10px;
	margin: 0px;
	border: 0;
    border-bottom: 1px solid rgba(0,0,0,1);
	margin-bottom: 10px;
}

.upLevel_btn{
    float: right;	
}

#tnr_ctx_box{
	width: 70%;
	height: 60%;
	top:20%;
	left: 15%;
}

#show_search_box{
    width: 90%;
    height: 80%;
    top: 15%;
    left: 5%;
	display: flex;
	flex-wrap: wrap;
	gap : 10px 10px;
	justify-content :center;
	overflow-y: auto;
}

#message_div{
	top:10%;
	height: 85%;
	left: 5%;
	width: 90%;
	overflow-y: auto;
}

#tnr_img{
	top :10%;
	left: 10%;
	height: 80%;
	width: 80%;
	background: rgba(0,0,0,0.00);
	overflow: hidden;
}

.tnr_map{
	top :20%;
	left: 15%;
	height: 70%;
	width: 70%;
}

#count_div{
    top : 5%;
    left: 20%;
}

#time_input{
	top : 5%;
    left: 45%;
}

#tnr_check{
	top : 5%;
    left: 70%;
}

#addr_box{
	width: 100%;
	display: flex;
  	/* 水平置中 */
  	justify-content: center;    
  	/* 垂直置中 */
  	align-items: center;
	top: 3%;
}

.btn_css{
    /*background-color: rgba(96,237,255,1.00);*/
    /*font-size: medium;*/
	display: flex;
	justify-content: center;
}

#gray_window{
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.30);
	display: flex;
	justify-content: center;
	align-items: center;	
}

#how_use_btn{
	width: 5vw;
	height: 5vw;
	top:2%;
	right: 1.5%;
	z-index: 99;
}

#message_box{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: antiquewhite;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-content: space-around;
    border: 3px outset rgba(0,0,0,1.00);
}

.col_2 p{
    font-size: xx-large;
}

.msg_box{
    width: 100%;
    height: auto;
    clear: left;
}

.col_1{
    width: 20%;
    font-size: xx-large;
}

.col_2{
    width: 70%;
    float: right;
}

.msg_uline{
    border-bottom: 2px double rgba(0,0,0,1.00);
}

.map_txt{
    width: 200px;
    height: 100px;
    font-size: x-large;
}

#addr_select1{
	margin-right: 5%
}

#addr_select2{
	margin-right: 5%
}

#show_color{
	top: 5%;
	width: 90%;
	height: 90%;
}

#sel_btn{
	top: 5%;
	left: 5%;
	width: 10%;
	height: 10%;
}

#txt_btn{
	top: 5%;
	left: 5%;
	width: 5%;
}

#txt_input{
	top: 5%;
	left: 10%;
}

#msg_box{
	width: 100%;
	height: 80%;
	bottom: 5%;
}

.btn_icon{
	width: 100%;
	height: 100%;
}

.btn_css div{
	bottom: -24%;
	white-space: nowrap;
}

#txt_box{
	top:55%;
	width: 30%;
	height: 40%;
	left: 50%;
	background-color: aliceblue;
	overflow-y: auto;
}